.banner {
  padding: 2rem 2rem 0 2rem;
  width: 95%;
  margin: auto;
  @include tabletsPro {
    padding: 0;
    width: 100%;
  }
  @include phones {
    display: none;
  }

  &_content {
    background: #ffffff;
    padding: 3rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    position: relative;
    @include tabletsPro {
      padding: 3rem 0;
    }
  }

  &_slider {
    &--list {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 160rem;
      margin: auto;
      position: relative;

      & .banner_slider--item {
        display: none;
        width: 100%;
        &:nth-child(4) {
          display: none;
        }

        & .fade {
          animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
        }

        & img {
          width: 100%;
        }
      }

      & .slider-arrow-prev {
        left: 0.2rem;
      }

      & .slider-arrow-next {
        right: 0.2rem;
      }
    }
  }
}

.slider-arrow-prev {
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 45%;
  outline: none;

  @include desktopHd {
    left: 40rem;
  }
  @include desktopLg {
    left: 9rem;
  }
  @include desktop {
    left: 3.3rem;
  }
}

.slider-arrow-next {
  transform: rotate(180deg);
  background-color: transparent;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 45%;
  right: 2.9rem;
  outline: none;

  @include desktopHd {
    right: 40rem;
  }
  @include desktopLg {
    right: 9rem;
  }
  @include desktop {
    right: 3.3rem;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);

  & .dot {
    cursor: pointer;
    margin: 0.5rem;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #ffffff;
    &.active {
      background-color: $pink;
    }
  }
}
