.brands {
  padding: 2rem 2rem 4rem 2rem;
  width: 95%;
  margin: auto;
  border-bottom: 1px solid $dark;
  @include tabletsPro {
    padding: 2rem 0 2rem 0;
    width: 100%;
  }

  &_content {
    background: #ffffff;
    padding: 3rem;
    position: relative;
    &--block {
      display: flex;
      justify-content: flex-start;
      margin: 0 auto;
      max-width: 160rem;
    }

    &--title {
      font-size: 2rem;
      text-align: left;
      padding-bottom: 1rem;
    }

    &--list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 160rem;
      margin: auto;
      position: relative;
      border-top: 1px solid #828282;
      padding-top: 3rem;
      @include tabletsPro {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5rem;
      }
      @include phones {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5rem;
      }
    }
    &--link {
      & img {
        margin: 0 auto;
      }
    }
  }
}
