.footer {
  height: 34.7rem;
  background-color: #fff;
  padding-top: 4rem;
  padding-bottom: 1rem;
  border-top: 1px solid $dark-grey;
  &_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    max-width: 160rem;
    @include phones {
      max-width: 32rem;
    }
  }

  &_columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.2rem;
    @include tabletsPro {
      flex-wrap: wrap;
    }
    @include phones {
      flex-direction: column;
    }
  }
  &_column {
    @include phones {
    }
    &:first-child {
      padding-right: 5rem;
      @include tabletsPro {
        padding-right: 3rem;
        order: 1;
      }
      @include phones {
        display: none;
      }
    }
    &:nth-child(2) {
      padding-right: 5rem;
      @include tabletsPro {
        padding-right: 2rem;
        order: 2;
      }
      @include phones {
        display: none;
      }
    }
    &:nth-child(3) {
      margin: 0 auto;
      @include tabletsPro {
        margin: 0;
        order: 3;
        padding-right: 3rem;
      }
      @include phones {
        display: none;
      }
    }
    &:nth-child(4) {
      margin: 0 auto;
      @include tabletsPro {
        order: 5;
        margin: 0;
        margin-top: 3rem;
      }
      @include phones {
        margin: 0 auto;
        margin-top: 3rem;
      }
    }
    &:nth-child(5) {
      padding-left: 5rem;
      @include tabletsPro {
        padding-right: 18rem;
        order: 4;
        margin: 0;
        padding-left: 0;
      }

      @include tablets {
        padding-right: 0;
      }
    }
    &:nth-child(6) {
      text-align: center;
      order: 2;
    }
    &:nth-child(7) {
      text-align: center;
      order: 1;
      margin-bottom: 1rem;
    }
    & ul li {
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &--title {
      color: $dark-grey;
      margin-bottom: 1.4rem;
      @include phones {
        text-align: center;
        & span {
          display: none;
        }
      }
    }
    &--icons {
      display: flex;
      @include phones {
        justify-content: center;
      }
      & img {
        width: 6rem;
        height: 3.7rem;
        &:first-child {
          margin-right: 5.2rem;
          @include phones {
            margin-right: 3.2rem;
          }
        }
      }
    }
    &--payment {
      @include tabletsPro {
        max-width: 16.8rem;
      }
      @include tablets{
        max-width: 19.8rem;
      }


      @include phones {
        max-width: 100%;
        margin-top: 4rem;
      }
    }
  }

  &_menu {
    &--list {
      font-family: "BebasNeue", sans-serif;

      & a {
        &:hover {
          color: $dark-grey;
        }
      }
    }
  }
  &_button {
    margin-top: 3.8rem;
    @include phones {
      text-align: center;
    }
    & a {
      padding: 1rem 1.8rem;
      border: 1px solid $pink;
      &:hover {
        color: $pink;
      }
    }
  }

  &_features {
    color: $dark;
    & a:hover {
      color: $dark-grey;
    }
  }
  &_info {
    display: flex;
    flex-direction: column;
  }
  &_logo {
    height: 7.2rem;
    width: 26.2rem;
    position: relative;
    background: url("./img/icons/logo.svg") center center / contain no-repeat;
    @include phones {
      display: none;
    }
    &--visible {
      display: none;
      @include phones {
        display: block;
        margin: 0 auto;
        height: 6.2rem;
        width: 17.2rem;
        position: relative;
        background: url("./img/icons/logo.svg") center center / contain
          no-repeat;
      }
    }
  }
  &_copyright {
    margin-top: 1rem;
    padding-bottom: 2rem;
    color: $dark-grey;
    & a {
      color: $pink;
    }
    @include phones {
      text-align: center;
    }
  }
}

.contact {
  @include phones{
    text-align: center;
  }
}

.page_links {
  display: none;
  @include phones {
    display: block;
    & a span {
      font-family: "BebasNeue", sans-serif;
      font-size: 2.4rem;
      position: relative;
      &:after {
        content: "";
        display: block;
        position: absolute;
        background: url("./img/icons/pink_arrow.svg") no-repeat center center;
        background-size: contain;
        height: 1.6rem;
        width: 0.8rem;
        top: 0.4rem;
        right: -2rem;
      }
    }
  }
}
