.menu {
  font-family: "BebasNeue", sans-serif;
  font-size: 1.8rem;
  min-height: 6rem;
  padding: 1.5rem 2rem 0 2rem;
  @include tabletsPro {
    padding: 0;
    min-height: 0;
  }

  &_list {
    border-bottom: 2px solid #c4c4c4;
    border-top: 1px solid $dark;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 0 1.2rem;
    @include tabletsPro {
      position: fixed;
      width: 50%;
      height: 100vh;
      background-color: #fff;
      color: #fff;
      top: 0;
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      right: 100%;
      border-top: 0;
      border-right: 1px solid $dark;
    }
    @include phones {
      width: 100%;
    }
  }
  &_list {
    &-open {
      @include tabletsPro {
        transform: translateX(100%);
      }
    }
    &--link {
      outline: none;
      &:hover,
      &:focus {
        color: $dark-grey;
      }
    }
  }
}

.burger {
  display: none;
  @include tabletsPro {
    order: 1;
    position: relative;
    display: block;
    cursor: pointer;
    & span {
      padding: 0.2rem 2rem;
      background: $dark;
      margin: 0.7rem 0rem;
      display: block;
    }
  }
}

.close-btn {
  display: none;
  @include tabletsPro {
    position: fixed;
    top: 3rem;
    left: -5rem;
    font-size: 7rem;
    display: block;
    line-height: 3rem;
    text-align: center;
    width: 3rem;
    height: 3rem;
    z-index: 4;
    &--close {
      left: 44rem;
      @include tablets {
        left: 33rem;
      }
    }
  }
}
